In [1]:
from sqlalchemy.orm import sessionmaker
from modelis import engine, Tevas, Vaikas

session = sessionmaker(engine)()

In [2]:
naujas_tevas = Tevas(vardas="Kietas", pavarde="Vyras")
naujas_vaikas = Vaikas(vardas="Sustras", pavarde="Vyras", tevas=naujas_tevas, mokymo_istaiga="CodeAcademy")

session.add(naujas_tevas)
session.add(naujas_vaikas)
session.commit()

In [3]:
from pprint import pprint
vaikai = session.query(Vaikas).all()
pprint(vaikai)

[(1, Sustras Vyras, (1, Kietas Vyras)),
 (2, Gudrus Vaikis, (1, Kietas Vyras)),
 (3, Smagi Vaikyte, (2, Rimtas Vaikis)),
 (4, Gudrus Vaikis, (3, Rimtas Vaikis)),
 (5, Smagi Vaikyte, (3, Rimtas Vaikis))]

In [11]:
vaikai[1].tevas = session.query(Tevas).get(1)
# session.commit()
vaikai

[(1, Sustras Vyras, (1, Kietas Vyras)),
 (2, Gudrus Vaikis, (1, Kietas Vyras)),
 (3, Smagi Vaikyte, (2, Rimtas Vaikis))]

In [15]:
tevas = session.query(Tevas).get(1)
tevas

(1, Kietas Vyras)

In [13]:
sunelis = Vaikas(vardas="Gudrus", pavarde="Vaikis")
dukrele = Vaikas(vardas="Smagi", pavarde="Vaikyte")
tevas = Tevas(vardas="Rimtas", pavarde="Vaikis")
tevas.vaikai.append(sunelis)
tevas.vaikai.append(dukrele)
session.add(tevas)
session.commit()

In [16]:
tevas.vaikai[0].vardas

'Sustras'

In [18]:
tevai = session.query(Tevas).all()
for tevas in tevai:
    print("tevas: ", tevas, "\nvaikai: ")
    pprint(tevas.vaikai)

tevas:  (1, Kietas Vyras)
vaikai:
[(1, Sustras Vyras, (1, Kietas Vyras)), (2, Gudrus Vaikis, (1, Kietas Vyras))]
tevas:  (2, Rimtas Vaikis)
vaikai:
[(3, Smagi Vaikyte, (2, Rimtas Vaikis))]
tevas:  (3, Rimtas Vaikis)
vaikai:
[(4, Gudrus Vaikis, (3, Rimtas Vaikis)), (5, Smagi Vaikyte, (3, Rimtas Vaikis))]

In [19]:
tevas.vaikai[1].vardas = "Gudri"
tevas.vaikai

[(4, Gudrus Vaikis, (3, Rimtas Vaikis)),
 (5, Gudri Vaikyte, (3, Rimtas Vaikis))]

In [20]:
pamestinukas = tevas.vaikai.pop()
pamestinukas

(5, Gudri Vaikyte, None)

In [33]:
vaikai = session.query(Vaikas).all()
vaikai

[(1, Sustras Vyras, (1, Kietas Vyras)),
 (2, Gudrus Vaikis, (1, Kietas Vyras)),
 (3, Smagi Vaikyte, (2, Rimtas Vaikis)),
 (4, Gudrus Vaikis, (3, Rimtas Vaikis)),
 (5, Gudri Vaikyte, (3, Rimtas Vaikis))]

In [27]:
tevas.vaikai.remove(vaikai[3])
tevas

(3, Rimtas Vaikis)

In [31]:
tevas.vaikai.append(vaikai[3])
tevas.vaikai.append(vaikai[4])

In [32]:
pprint(tevas.vaikai)

[(5, Gudri Vaikyte, (3, Rimtas Vaikis)),
 (4, Gudrus Vaikis, (3, Rimtas Vaikis)),
 (5, Gudri Vaikyte, (3, Rimtas Vaikis))]

In [2]:
from crud import update_object, delete_object

In [6]:
rimtesnis = update_object(Tevas, 2, vardas="Rimtesnis")
rimtesnis

(2, Rimtesnis Vaikis)

In [7]:
tevelis = session.query(Tevas).get(2)
tevelis

(2, Rimtas Vaikis)